/* Index */

body {
    font-family: 'Papyrus', fantasy; /* Police médiévale */
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #553300;
}

header {
    background-color: rgba(100, 50, 20, 0.8);
    padding: 20px 0;
    border-bottom: 2px solid #886633; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: antiquewhite; 
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #886633;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(150, 100, 50, 0.5); 
}

#titrePage {
    text-align: center;
    margin-top: 30px;
    color: #886633;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#content {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.chasseur-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

/* Style de détail chasseur */
.chasseur-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.info-card, .equipement-card, .monstres-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.info-card h2, .equipement-card h2, .monstres-card h2 {
    margin-top: 0;
}


/* Coffre */

.coffre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.objet-card {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.objet-card p {
    margin: 0;
}

/* Armures */
.armure-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.armure-card h3 {
    margin-top: 0;
    color: #886633;
}

.armure-card p {
    margin-bottom: 10px;
}

.armure-card ul {
    list-style: none;
    padding: 0;
}

.armure-card li {
    margin-bottom: 5px;
}